.App {
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.hidden {
  display: none;
}

table.user-info-table {
  width: 100%;
}

table.user-info-table .key {
  text-align: right;
  width: 30%;
  font-weight: bold;
}

table.user-info-table .value {
  text-align: left;
  padding-left: 20px;
}